
   <section class="files-btns flex-spaceBetween" >
        <div class="upload-btns">
            <button class="btn btn-primary btn-sm files-manager-btns" asp-controller="" asp-action="">
                Upload &nbsp; <i class="bi bi-upload"></i>
            </button>
            <span>Upload your excel/csv file</span>
        </div>
        <div class="export-btns">
            <button class="btn  btn-sm btn-email" asp-controller="" asp-action="">
                Send email &nbsp; <i class="bi bi-send"></i>
            </button>
            <button class="btn btn-primary btn-sm files-manager-btns" asp-controller="" asp-action="">
                Export &nbsp; <i class="bi bi-download"></i>
            </button>
        </div>
    </section>
