@using UserOperation.Services.Dtos
@model LeaveDto

<div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h4>Are you sure you want to delete leave for this employee?</h4>
        <form  method="post" asp-action="DeleteLeave">
            <input type="hidden" value="@Model.LeaveID" name="Id"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" data-save="modal">Delete</button>
      </div>
</div>