.create-form {
    display: flex;
    justify-content: center;
}

    .create-form form div {
        display: flex;
        justify-content: space-evenly;
    }

        .create-form form div label {
            display: block;
            width: 200px;
        }

.end-btn {
    display: flex;
    justify-content: center;
}
